body {
  font-size: 11px;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  background-color: #08090a;
}

#universe {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  #galaxy {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #solar-system {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    .orbit {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 2px solid rgba(255, 255, 255, 0.096);
      border-radius: 50%;
      transform-style: preserve-3d;
      animation: orbit linear infinite;
      .pos {
        position: absolute;
        transform-style: preserve-3d;
        animation: invert infinite linear;
      }
    }
    #sun,
    .planet,
    #earth .moon {
      position: absolute;
      width: 1em;
      top: 50%;
      left: 50%;
      height: 1em;
      border-radius: 50%;
      transform-style: preserve-3d;
      margin-top: -0.5em;
      margin-left: -0.5em;
    }
  }
}

.pos {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#sun,
.planet,
#earth .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
#saturn .ring {
  width: 1.5em;
  height: 1.5em;
  margin-top: -1em;
  margin-left: -1em;
  border: 0.25em solid rgba(160, 147, 130, 0.7);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#saturn .ring:after {
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 2.2em;
  height: 2.2em;
  margin-top: -1.1em;
  margin-left: -1.1em;
  border: 0.07em solid rgba(160, 147, 130, 0.5);
  box-sizing: border-box;
  box-sizing: border-box;
}
