@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended-Light.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended-Black.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "MonumentExtended";
  src: url(../fonts/MonumentExtended-Ultrabold.otf);
  font-weight: 800;
}
