@mixin planet-size($name, $bg-repeat: repeat-x) {
  $url: "../assets/#{$name}.jpeg";
  background-image: url($url);
  background-repeat: $bg-repeat;
  background-size: cover;
}
body {
  @include planet-size(Universe);
  background-attachment: fixed;
}
#sun {
  @include planet-size(Sun);
  box-shadow: 0 0 200px rgba(255, 161, 60, 0.501);
}
#mercury .planet {
  @include planet-size(Mercury);
}
#venus .planet {
  @include planet-size(Venus);
}

#saturn .planet {
  @include planet-size(Saturn);
}
#earth .planet {
  @include planet-size(Earth);
}
.moon {
  background-color: white;
}
#mars .planet {
  @include planet-size(Mars);
}
#uranus .planet {
  @include planet-size(Uranus);
}
#jupiter .planet {
  @include planet-size(Jupiter);
}
#neptune .planet {
  @include planet-size(Neptune);
}
@keyframes spinAround {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2048px 0;
  }
}
#sun {
  animation: spinAround 50s linear infinite;
}
