@import "_fonts";
* {
  font-family: "MonumentExtended", sans-serif;
  color: white;
  font-weight: 400;
}
body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 10px;
}
#container {
  padding: 30px 100px;
  .navbar {
    position: fixed;
    left: 50%;
    top: 8%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* Will not center vertically and won't work in IE6/7. */
    z-index: 10;
    animation: toptobottom 0.7s ease-in-out;

    a {
      text-decoration: none;
      margin-right: 40px;
      font-size: 1.3em;
      z-index: 10;
      transition: all 0.5s;
      opacity: 0.7;
      &:hover {
        border-bottom: 2px solid rgb(223, 145, 0);
        padding-bottom: 3px;
        color: rgb(223, 145, 0);
        opacity: 1;
      }
    }
  }

  .textarea {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-top: 100px;

    h3 {
      font-size: 2em;
      animation: lefttoright 0.7s ease-in-out;
    }
    &__heading {
      color: white;
      font-weight: 800;
      font-size: 5em;
      animation: lefttoright 0.8s ease-in-out;
    }
    &__description {
      width: 70%;
      font-weight: 200;
      font-size: 1em;
      line-height: 150%;
      opacity: 0.8;
      animation: lefttoright 1s ease-in-out;
    }
  }
  .btn-actions {
    margin-top: 30px;
    animation: lefttoright 1s ease-in-out;
    a {
      background-color: rgb(223, 145, 0);
      width: 100%;
      height: 100%;
      padding: 15px 30px;
      margin-top: 50px;
      text-decoration: none;
      border-radius: 5px;
      z-index: 10;

      &:hover {
        background-color: rgb(167, 108, 0);
      }
    }
  }
}
.img {
  position: absolute;
  width: auto;
  z-index: 1;
}
.earth {
  height: 60%;
  bottom: -15%;
  right: -5%;
  animation: circle1 30s linear infinite;
}
.mars {
  height: 10%;
  bottom: 55%;
  right: 20%;
  animation: circle2 30s linear infinite;
}
.jupiter {
  height: 30%;
  bottom: 55%;
  right: -5%;
  animation: circle3 40s linear infinite;
}
.uranus {
  height: 8%;
  bottom: 25%;
  right: 50%;
  animation: circle4 50s linear infinite;
}
.neptune {
  height: 8%;
  bottom: 40%;
  right: 40%;
  animation: circle5 70s linear infinite;
}
.saturn {
  height: 15%;
  bottom: 60%;
  right: 30%;
  animation: circle6 30s linear infinite;
}
.stars {
  height: 110%;
  bottom: 0%;
  right: -10%;
  animation: circle7 50s linear infinite;
}
@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle2 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}
@keyframes circle3 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}
@keyframes circle4 {
  from {
    transform: rotate(360deg) translate(-60px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-60px) rotate(0deg);
  }
}
@keyframes circle5 {
  from {
    transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
}
@keyframes circle6 {
  from {
    transform: rotate(-360deg) translate(-60px) rotate(360deg);
  }
  to {
    transform: rotate(0deg) translate(-60px) rotate(0deg);
  }
}
@keyframes circle7 {
  from {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
}
// scroll animation================================================

.left-to-right {
  transform: translateX(-200%);
  transition: 0.8s;
}
.left-to-right.start {
  transform: translateX(0%);
}
.top-to-bottom {
  transform: translateY(-200%);
  transition: 0.8s;
}
@keyframes lefttoright {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes toptobottom {
  from {
    left: 50%;
    top: -8%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  to {
    left: 50%;
    top: 8%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
